body{
<<<<<<< HEAD
	background-color: red;
<<<<<<< HEAD
	
    
    }

input {
    width: 100%;
}
=======
<<<<<<< HEAD
	color:green;
	fontdasda-size:35px;
<<hello everynoneasdasdasd asfa sfasd
}ZX
======asdd=
	font-size: 60px;
}
=======asdasd
	back!!ground-color: blue;
}
a








input {
    width: 100%;
}



input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


