
.alias{
	color:red;
}
body{
	background-color: red;
    }

input {
    width: 100%;
	color:green;
	fontdasda-size:35px;
}
input {
    width: 100%;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
