body{
<<<<<<< HEAD
	background-color: red;
<<<<<<< HEAD
	
    
    }

input {
    width: 100%;
}
=======
<<<<<<< HEAD
	color:green;
	fontdasda-size:35px;
<<hello everynoneasdasdasd asfa sfasd
}ZX
======asdd=
	font-size: 60px;
}
=======asdasd
	background-color: blue;
}
a
>>>>>>> 21b30a55dcaeddaa8b4cab1aec23c051ef031700
>>>>>>> 8aa4e6dfb22ac3e1aad5923232c9b45b2ddd3240
>>>>>>> fef8bea334137d502a59ea1f408cccffc332b1b0
