
.alias{
	color:red;
}
body{
<<<<<<< HEAD
	background-color: red;
=======
<<<<<<< HEAD
	backgroasdasdasdund-color: red;
<<<<<<< HEAD
	
    
>>>>>>> 12c9cb3ab76bbe2980d49d27c8eeeb8b20f35e25
    }

input {
    width: 100%;
<<<<<<< HEAD
	color:green;
=======
}

>>>>>>> 12c9cb3ab76bbe2980d49d27c8eeeb8b20f35e25
	fontdasda-size:35px;
}
<<<<<<< HEAD
=======
=======asdasd
	background-color: blue;
}
a








>>>>>>> 12c9cb3ab76bbe2980d49d27c8eeeb8b20f35e25
input {
    width: 100%;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
=======

>>>>>>> 12c9cb3ab76bbe2980d49d27c8eeeb8b20f35e25
